.header-container{
    width: calc(100% - 160px);
    max-width: 1400px;
    left: 0;
    right: 0;
    top :20px;
    margin: 0 auto;
    background: 0 0;
    height: auto;
    position: fixed;
    z-index: 1;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 32px rgb(0 0 0 / 15%);
}

.header-logo{
    height: 40px;
    cursor: pointer;

}
.header-button{
    height: 40px;
    background: #e54927;
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    line-height: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 34px;
    border: 0;
    transition: all .5s var(--ease-out-expo);
    position: relative;
    font-weight: 700;
    cursor: pointer;
}


.header-button:hover{
    padding-right: 50px;
}

.header-button:hover::after{
    opacity: 1;
    transform: translateX(0);
    font-size: 12px;
}
.header-button::after{
    content: "➜";
    position: absolute;
    margin-left: 8px;
    opacity: 0;
    transform: translateX(-18px);
    transition: all .5s var(--ease-out-expo);
}


.header-page-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 530px;
    height: 70px;
    font-size: 0.6666666666666666rem;
    font-family: "Maison Neue Demi", sans-serif;
    letter-spacing: 0.08333333333333333rem;
    font-weight: 800;
}

.header-new-superscript{
    background: #ffd300;
    border-radius: 50px;
    padding: 3px 5px;
    position: relative;
    top: -5.5px;
    left: -7px;
    font-size: 8px;
    font-weight: normal;
}

.header-dot{
    width: 4px;
    height: 4px;
    display: inline-block;
    background: black;
    border-radius: 50%;
}

.header-dot-container{
    flex-direction: row;
    width: 18px;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 30px;
    cursor: pointer;
}

.header-links{
    cursor: pointer;
}